.gallery {
    justify-content: center;
}

.gallery-header {
    text-align: center;
    margin: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    margin: 50px auto 0 auto;
}

@media (max-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
}